// Place all the styles related to the solve controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
    background-color: black;
    width: 50%;
}

.space{
    height:30px;
}

.margin-0{
    margin:0 !important;
}

.padding-0{
    padding:0 !important;
}

body {
    padding-top:80px;
}




.opt-wrapper{
    height:150px;
    width: 100%;
    text-align: center;
    font-size:xx-large;
}


.graph-wrapper2{
    height:450px;
    width:550px;
    float:left;
}

.other{
    clear:both;
    height:100px;
}

.container{
    background-color: #EEE;
}


//PC向け
@media screen and (min-width: 481px){
    .for-small{
        display: none;
    }
    .graph-wrapper1{
        height:500px;
        width:550px;
        float:left;
        margin-left:200px;
    }
}

//スマホ向け
@media screen and (max-width: 480px){
    .for-small{
    }
    .graph-wrapper1{
        height:500px;
        width:550px;
        float:left;
    }

}