// Place all the styles related to the solve controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.space{
    height:30px;
}

body {
    padding-top:80px;
}

.top-explain{
    padding:0px 0px 30px 30px;
}

.opt-wrapper{
    height:150px;
    width: 100%;
    text-align: center;
    font-size:xx-large;
}




.other{
    clear:both;
    height:100px;
}

.container{
    background-color: #EEE;
}


.problem-wrapper{
    float:left;
    width:auto;
    height:auto;
}

.problem-title{
    text-align: center;
    font-size: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.problem{
    text-align: center;
    font-size:30px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.problem-image{
    margin-top: 30px;
    margin-bottom: 30px;
    border:2px solid;
}




.format-wrapper{
    float:right;
    width: auto;
    border: 3px solid;
    height: auto;
}

.format-title{
    text-align: center;
    font-size: 40px;
    border-bottom: 2px solid #CCC;
    padding-top: 25px;
    padding-bottom: 25px;
}

.format{
    text-align: center;
    font-size:30px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #CCC;
}

.format-explain{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}




.QA-wrapper{
    background-color: #b4e3ff ;
    padding: 30px;
}

.QA-title{
    font-size: xx-large;
    border-bottom: #EEE 2px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;
}



.about-p{
    margin-top:30px;
    margin-left: 30px;
}

.plan{
    margin-left: 30px;
}



//PC向け
@media screen and (min-width: 991px){
    .top-explain{
        font-size: x-large;
    }
    .graph-wrapper1{
        height:500px;
        width:550px;
        float:right;
        margin-left:200px;
    }
    .graph-wrapper2{
        height:450px;
        width:550px;
        float:left;
    }
    .Q, .A{
        font-size: x-large;
    }
    .Question, .Answer{
        padding-left: 30px;
        font-size: large;
    }
    .problem-image{
        width:550px;
        margin-left: 30px;
    }
    //ナビバーが990以下であれが隠れる
    .for-small{
        display: none;
    }


    .xx-large{
        font-size:xx-large;
    }
    .x-large{
        font-size:x-large;
    }
    .large{
        font-size:large;
    }
    .medium{
        font-size:medium;
    }
    .small{
        font-size:small;
    }
    
}


//スマホ/小さいウィンドウ向け
@media screen and (max-width: 990px){
    .for-pc{
        display: none;
    }
    .top-explain{
        font-size: medium;
    }
    .graph-wrapper1{
        height:auto;
        width:auto;
        float:left;
    }

    .graph-wrapper2{
        height:auto;
        width:auto;
        float:left;
    }

    .format-wrapper{
        float:left !important;
        width: 100% !important; 
    }
 
    .problem-wrapper{
        width:100% !important;
    }
    
    .Q, .A{
        font-size: medium;
    }
    .Question, .Answer{
        padding-left: 10px;
        font-size:small;
    }

    .problem-image{
        width:100%;
        margin-left: S0px;
    }

    .xx-large{
        font-size:large;
    }
    .x-large{
        font-size:medium;
    }
    .large{
        font-size:small;
    }
    .medium{
        font-size:x-small;
    }
    .small{
        font-size:xx-small;
    }
    
}
