// Place all the styles related to the solve controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
    background-color: black;
    width: 50%;
}

.space{
    height:30px;
}

.margin-0{
    margin:0 !important;
}

.padding-0{
    padding:0 !important;
}

body {
    padding-top:80px;
}