<div class="for-small">
    <a class="btn btn-dark", href="/"> ホーム </a>
    <a class="btn btn-dark", href="/howto"> 使い方 </a>
    <a class="btn btn-secondary", href="/about"> このページについて </a>
</div>

きっかけ

工夫した点
特徴
O(n)
~ グラフ描画のための部分はどうしてもO(n log(n)) ~ 

今後の課題

入力で分数を許す
小数で受け取ったものも内部で分数で計算することで 数値誤差対策 / 最適解がわかりやすくなる


<div class="other"> </div>