<div class="for-small">
    <a class="btn btn-dark", href="/"> ホーム </a>
    <a class="btn btn-dark", href="/howto"> 使い方 </a>
    <a class="btn btn-secondary", href="/about"> このページについて </a>
</div>
<div class="other"> </div>