<div class="problem-wrapper xx-large">
    <div class="problem-title">2次元線形計画問題</div>

    <div class="problem x-large">
        <math>
            <mtable>
                <mtr>
                    <mtd> <mi> min </mi>  </mtd>
                    <mtd>   </mtd>
                    <mtd> <mi> y </mi>  </mtd>
                </mtr>
                <mtr>
                    <mtd> <mi> s.t. </mi>  </mtd>
                    <mtd> 
                        <mi> y </mi>  
                    </mtd>
                    <mtd> 
                        <mo> ≥ </mo>  
                    </mtd>
                    <mtd> 
                        <msub> <mi> a </mi>   <mn> 1 </mn> </msub>  
                        <mo> + </mo>
                        <msub> <mi> b </mi>   <mn> 1 </mn> </msub>  
                    </mtd>
                </mtr>
                <mtr>
                    <mtd> </mtd>
                    <mtd> 
                        <mi> y </mi>  
                    </mtd>
                    <mtd> 
                        <mo> ≥ </mo>  
                    </mtd>
                    <mtd> 
                        <msub> <mi> a </mi>   <mn> 2 </mn> </msub>  
                        <mo> + </mo>
                        <msub> <mi> b </mi>   <mn> 2 </mn> </msub>  
                    </mtd>
                </mtr>
                <mtr>
                    <mtd></mtd>
                    <mtd></mtd>
                    <mtd> <mo> ⠇ </mo>  </mtd>
                </mtr>
                <mtr>
                    <mtd> </mtd>
                    <mtd> 
                        <mi> y </mi>  
                    </mtd>
                    <mtd> 
                        <mo> ≥ </mo>  
                    </mtd>
                    <mtd> 
                        <msub> <mi> a </mi>   <mn> n </mn> </msub>  
                        <mo> + </mo>
                        <msub> <mi> b </mi>   <mn> n </mn> </msub>  
                    </mtd>
                </mtr>
            </mtable>

        </math>
    </div>

    <%= image_tag("/example_2dlp.jpg", class:"problem-image")%>
</div>


<div class="format-wrapper">
    <div class="format-title xx-large">入力形式</div>

    <div class="format x-large">
        <math>
            <mtable>
                <mtr>
                    <mtd> <mi> n </mi> </mtd>
                </mtr>
                <mtr>
                    <mtd> <msub> <mi> a </mi>   <mn> 1 </mn> </msub>  </mtd>
                    <mtd> <msub> <mi> b </mi>   <mn> 1 </mn> </msub>  </mtd>
                </mtr>
                <mtr>
                    <mtd> <msub> <mi> a </mi>   <mn> 2 </mn> </msub>  </mtd>
                    <mtd> <msub> <mi> b </mi>   <mn> 2 </mn> </msub>  </mtd>
                </mtr>
                <mtr>
                    <mtd> <mo> ⠇ </mo>  </mtd>
                </mtr>
                <mtr>
                    <mtd> <msub> <mi> a </mi>   <mi> n </mi> </msub>  </mtd>
                    <mtd> <msub> <mi> b </mi>   <mi> n </mi> </msub>  </mtd>
                </mtr>
            </mtable>

        </math>
    </div>

    <div class="format-explain large">
        <p>
            1行目に制約の数を表す変数<math><mi>n</mi></math>を与える.<br><br>
        
            2行目から続く<math><mi>n</mi></math>行のうち,<math><mi>i</mi></math>行目においては,<br>
            <math><mi>i</mi></math>番目の制約を表す2つの実数<math><msub><mi>a</mi><mn>i</mn></msub><mo>,</mo><msub><mi>b</mi><mn>i</mn></msub></math>を空白区切で与える.<br><br>

            これは,<math><mi>i</mi></math>本目の制約が
            <math>
                <mi>y</mi> <mo>≥</mo>
                <msub>
                    <mi>a</mi>
                    <mn>i</mn>
                </msub>
                <mo>+</mo>
                 <msub>
                    <mi>b</mi>
                    <mn>i</mn>
                </msub>
            </math>
            であることを表し, <br>
            分数の形で与えることを許さない.

        





        </p>
    </div>
</div>



<div class="other"> </div>

<div class="QA-wrapper">
    <div class="QA-title xx-large"> Q&A </div>
    <div class="Q x-large">Q.</div>
    <div class="Question large">
      2次元の線形計画問題の一般形は<br><br>
      <math>
        <mtable>
                <mtr>
                    <mtd>   </mtd>
                    <mtd> 
                        <mi> min </mi>  
                    </mtd>
                    <mtd>   </mtd>
                    <mtd>   
                        <msub> <mi> c </mi>   <mn> 1 </mn> </msub>  
                        <msub> <mi> x </mi>   <mn> 1 </mn> </msub>  
                        <mo> + </mo>
                        <msub> <mi> c </mi>   <mn> 2 </mn> </msub>  
                        <msub> <mi> x </mi>   <mn> 2 </mn> </msub>  
                    </mtd>
                </mtr>

                <mtr>
                    <mtd>   </mtd>
                    <mtd> <mi> s.t. </mi>  </mtd>
                    <mtd>   </mtd>

                    <mtd>   
                        <msub> <mi> a </mi>  <mn> i1 </mn> </msub>  
                        <msub> <mi> x </mi>   <mn> 1 </mn> </msub>  
                        <mo> + </mo>
                        <msub> <mi> a </mi>  <mn> i2 </mn> </msub>  
                        <msub> <mi> x </mi>   <mn> 2 </mn> </msub>  
                    </mtd>
                    <mtd> 
                        <mo> ≥ </mo>
                        <msub> <mi> a </mi>  <mn> i0 </mn> </msub>  
                    </mtd>
                    <mtd> 
                        <mo> ( </mo>
                        <mn> 1 </mn>
                        <mo> ≤ </mo>
                        <mi> i </mi>
                        <mo> ≤ </mo>
                        <mi> n </mi>
                        <mo> ) </mo>
                    </mtd>
                </mtr>
            </mtable>
      </math>
      <br><br>だと思うんですけど, 上の式は一般性を保っていますか？
    </div>
    <div class="A x-large">A.</div>
    <div class="Answer large">
        はい. <br>
        目的関数が<math><mi>c</mi><mi>x</mi><mo>+</mo><mi>d</mi><mi>y</mi></math>のとき, 傾きがx軸と平行になるようにx軸,y軸を回転すると<br><br>
        <math>
            <mtable>
                    <mtr>
                        <mtd>   </mtd>
                        <mtd>   
                            <mi>c</mi><mi>x</mi><mo>+</mo><mi>d</mi><mi>y</mi>
                        </mtd>
                        <mtd>   
                            <mo> = </mo>
                        </mtd>
                        <mtd>   
                            <mi> e </mi>
                        </mtd>
                    </mtr>

                    <mtr>
                        <mtd>   </mtd>
                        <mtd> <mi> y </mi>  </mtd>
                        <mtd>   
                            <mo> = </mo>
                        </mtd>

                        <mtd>   
                            <mo> - </mo>
                            <mfrac>
                                <mi>c</mi>
                                <mi>d</mi>
                            </mfrac>
                            <mi> x </mi>

                            <mo> + </mo>
                            <mfrac>
                                <mi>e</mi>
                                <mi>d</mi>
                            </mfrac>
                            <mi> x </mi>
                        </mtd>
                    </mtr>
                </mtable>
        </math>        

        <br><br>となり, 一般性を失わずに次のような形の問題として考えることができます.<br><br>
        <math>
            <mtable>
                <mtr>
                    <mtd>   </mtd>
                    <mtd> <mi> min </mi>  </mtd>
                    <mtd>   </mtd>
                    <mtd> <mi> y </mi>  </mtd>
                </mtr>
                <mtr>
                    <mtd>   </mtd>
                    <mtd> <mi> s.t. </mi>  </mtd>
                    <mtd> 
                        <mi> y </mi>  
                    </mtd>
                    <mtd> 
                        <mo> ≥ </mo>  
                    </mtd>
                    <mtd> 
                        <msub> <mi> a </mi>   <mi> i </mi> </msub>  
                        <mo> + </mo>
                        <msub> <mi> b </mi>   <mi> i </mi> </msub>  
                    </mtd>
                    <mtd> 
                        <mo> ( </mo>
                        <mn> 1 </mn>
                        <mo> ≤ </mo>
                        <mi> i </mi>
                        <mo> ≤ </mo>
                        <mi> n </mi>
                        <mo> ) </mo>
                    </mtd>
                </mtr>
            </mtable>

        </math>



    </div>
    

    <div class="Q x-large">Q.</div>
    <div class="Question large">
        途中経過のグラフが表示されません
    </div>
    <div class="A x-large">A.</div>
    <div class="Answer large">
        制約の数が多い時は, 途中経過のグラフを描画するとかなり長い時間を必要とするので,<br> 
        <math><mi>制約の数</mi><mo>×</mo><mi>ステップ数</mi><mo>≤</mo><msup><mn>10</mn><mn>6</mn></msup></math>の時のみ,途中経過のグラフを描画します.
    </div>
</div>

